{% extends "bootstrap/base.html" %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
{%- block head %}
{%- block styles %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
{%- endblock styles %}
{%- endblock head %}

{% block body %}
{% block navbar %}
{{nav.top.render(renderer='custom')}}
{% endblock %}

<div class="content">
{% block content %}
{{super()}}
    {% block footer %}
    <footer class="panel-footer">&copy; <i>2017 Mosia Hryhorii</i></footer>
    {% endblock %}
{% endblock %}
</div>


{% block scripts %}
    {{ super() }}
<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% endblock %}


