{% extends "bootstrap/base.html" %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
{%- block head %}
{%- block styles %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
{%- endblock styles %}
{%- endblock head %}

{% block body %}


<div id="nav">{% block navbar %}
{{nav.top.render(renderer='custom')}}
{% endblock %}</div>

<div id="content">{% block content %}
{{super()}}
{% endblock %}</div>

<div id="footer">{% block footer %}
    <footer class="panel-footer">&copy; <i>2017 Mosia Hryhorii</i></footer>
{% endblock %}</div>

{% block scripts %}
    {{ super() }}
<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% endblock %}


